body{
    background-image: white;
    height:100vh;
    overflow: hidden;
}
.container{
    position: absolute;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    width:400px;
    height:90vh;
    z-index: 1;
}
.form{
    background-color: rgba(54, 255, 64, 0.3);
    width:150%;
    height:100%;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    
}
.content{
    width:80%;
    padding:13%;
    height:100%;
    position: absolute;
    margin-top:-15%;
}
h1{
    color:#fff;
    margin-bottom:20px;
    margin-left: -50px;
}
.group{
    height:40px;
    position: relative;
    margin-bottom: 30px;
}
.group label{
    position:absolute;
    top: 10px;
    left:-13%;
    
}
button{
    margin-left: 84px;
    border-radius: 2px;
    border: none;
    width: 100px;
    height: 30px;
}
.group .inputText{
    margin-left: 84px;
    width:50%;
    padding: 0% 10%;
    height:40px;
    border:none;
    outline: none;
    background-color: rgb(255, 255, 255, 0.6);
}